@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.theme-light{
    --bg: url(/images/bg-desktop-light.jpg);
    --bg-mobile: url(/images/bg-mobile-light.jpg);
    --label-image:url(/images/icon-moon.svg);
    --bg-color: hsl(0, 0%, 98%);
    --todo-header:  hsl(0, 0%, 98%);
    --todo-tasks-bg:hsl(0, 0%, 98%);
    --todo-tasks:  hsl(234, 39%, 85%);
    --todo-tasks-color: hsl(234, 11%, 52%);
    --todo-tasks-input: hsl(234, 11%, 52%); 
    --todo-span: hsl(280, 87%, 65%);
    --todo-active: hsl(220, 98%, 61%);
}
.theme-dark{
    --bg: url(/images/bg-desktop-dark.jpg);
    --bg-mobile: url(/images/bg-mobile-dark.jpg);
    --label-image:url(/images/icon-sun.svg);
    --bg-color: hsl(235, 21%, 11%);
    --todo-header:  hsl(0, 0%, 98%);
    --todo-tasks-bg:hsl(235, 24%, 19%);
    --todo-tasks: hsl(234, 11%, 52%);
    --todo-tasks-color: hsl(234, 39%, 85%);
    --todo-tasks-input: hsl(234, 11%, 52%); 
    --todo-span: hsl(280, 87%, 65%);
    --todo-active: hsl(220, 98%, 61%);
} 
body{
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
header{
    background: var(--bg);
    height: 250px;
    width: 100%;
}
.todo-header div{
    position:relative;
}
.todo-header div input[type="checkbox"]{
    position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  top: 0;
  cursor: pointer;
}
@media screen and (max-width: 375px){
    header{
        background: var(--bg-mobile);
    }
}
main{
    background: var(--bg-color);
    height: 100%;
    display: flex;
    justify-content: center;
}
main .todo-body{
    width: 500px;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 25px;
    position: relative;
    bottom: 224px;
}

label {
  width: 20px;
  height: 20px;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: var(--label-image);
}
 
@media screen and (max-width: 520px){
    main .todo-body{
        width: 90%;
    }
}
main .todo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .todo-header h1{
    letter-spacing: 15px;
    color: var(--todo-header);
}
main .todo-input{
     background-color: var(--todo-tasks-bg);
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: space-around;
}
main .todo-tasks{
     background-color: var(--todo-tasks-bg);
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     padding: 0 12px;
     border-bottom: 1px solid var(--todo-tasks);
     color: var(--todo-tasks-color);
     cursor: pointer
}
main .todo-tasks p{
    flex: 1;
    padding-left: 25px;
}
main .todo-tasks input{
        -webkit-appearance: none;
        border: 1px solid hsl(234, 11%, 52%);
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
}
main .todo-tasks input:checked{
        background: url('/images/icon-check.svg'), linear-gradient(to right,hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
        background-repeat: no-repeat;
        background-position: center;
        border:none;
}
main .todo-tasks s{
    color: var(--todo-tasks);
}
main .todo-tasks img{
    /* height: 10px; */
}
main .todo-input span, main .todo-tasks span{
    border: 1px solid var(--todo-tasks);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
main .todo-input span:hover{
    border: 1px solid var(--todo-span);
}
main .todo-input input{
    width: 85%;
    height: 30px;
    border: 0;
    background: var(--todo-tasks-bg);
    outline: none;
    caret-color: var(--todo-active);
    color: var(--todo-tasks-color)
}
main .todo-input input[type='text' i]{
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}
main .todo-state{
    background-color: var(--todo-tasks-bg);
     height: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 12px;
     color: var(--todo-tasks);
     flex-wrap: wrap;
}
main .todo-state div{
    display: flex;
}
main .todo-container{
    box-shadow: 0 5px 20px rgb(0 0 0 / 25%);
}
main .todo-container::before{
    position: absolute;
}
main.todo-state, main .todo-container, main .todo-input{
    border-radius: 5px;
}
@media screen and (max-width: 450px){
    main .todo-state{
        padding: 0;
        height: 60px;
    }
    main .todo-state p{
        padding:0 10px;
    }
    main .todo-state div{
        width: 100%;
       order: 3;
       background-color: var(--todo-tasks-bg);
       justify-content: center;
       position: relative;
       top: 25px;
       height: auto;
       box-shadow: 0 5px 20px rgb(0 0 0 / 25%);
    }
}
main .todo-state div p{
    padding-left: 10px;
}
main .todo-state .todo-active, main .todo-state .todo-active ~ p{
    cursor: pointer;
}
main .todo-state .todo-active .active{
    color: var(--todo-active);
}
main .todo-state .todo-active ~ p:hover, main .todo-state .todo-active p:hover{
    color: var(--todo-tasks-color);
}
footer{
    height: 200px;
    display: flex;
    text-align: center;
    color: var(--todo-tasks);
    align-items: center;
    justify-content: center;
}
.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}